<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Calculatrice{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            veuillez saisir le premier nombre  : {{ form_widget(form.firstNumber) }} <br>
            veuillez choisir une opération     : {{ form_widget(form.operand) }} <br>
            veuillez saisir le deuxieme nombre : {{ form_widget(form.secondNumber) }}<br>
                                                 {{ form_widget(form.Calculate) }}<br>

            {{ form_end(form) }}

            {% if result is defined %}
                <p> Resultat = {{ result }} </p>
            {% endif %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
